.footer.fab, .footer .fas, .footer .far {
    text-align: center;
    width: 1.25em;
}

.copyright {
    background: #29b6f6;
    color: #fff;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0.5em 1.5em;
}

.hosting {
    background: #4fc3f7;
    color: #fff;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    padding: 0.75em 1em;
    text-decoration: none;
}

.forkbg{
    background: #81d4fa;
}

.hosting .link {
    color: #fff;
}
